%div{class: "messages"}
  %div{class: "message", data: {message_id: "1"}}
    %div{class: "message__upper-info"}
      %p{class: "message__upper-info__talker"}test-user
      %p{class: "message__upper-info__date"}2019/7/20(Sat) 12:00:00
    %p{class: "message__text"}こんにちは
  %div{class: "message", data: {message_id: "2"}}
    %div{class: "message__upper-info"}
      %p{class: "message__upper-info__talker"}test-user
      %p{class: "message__upper-info__date"}2019/7/20(Sat) 12:10:00
    %p{class: "message__text"}さようなら