.messages
  .message{data: {message_id: "1"}}
    .message__upper-info
      %p.message__upper-info__talker
        test-user
      %p.message__upper-info__date
        2019/7/20(Sat) 12:00:00
    %p.message__text
      こんにちは
  .message{data: {message_id: "2"}}
    .message__upper-info
      %p.message__upper-info__talker
        test-user
      %p.message__upper-info__date
        2019/7/20(Sat) 12:10:00
    %p.message__text
      さようなら