.flash-box{
  background-color: #38AEF0;
  height: 24px;
  p{
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: #ffffff;
  }
}

.chat-main{
  width: calc(100% - 300px);
  float: right;
  .main-header{
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    &__left-box{
      float: left;
      margin-top: 35px;
      h2{
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      ul{
        font-size: 12px;
        color: #999999;
        display: flex;
        list-style: none;
        li{
          margin-left: 5px;
        }
      }
    }
    a{
      float: right;
      text-decoration: none;
      color: #38AEF0;
      .edit-btn{
        height:40px;
        padding: 0 20px;
        line-height: 40px;
        margin-top: 28px;
        position: absolute;
        right: 40px;
        border: 1px solid #38AEF0;
      }
    }
  }
  .form{
    height: 90px;
    width: calc(100% - 300px);
    padding: 20px 40px;
    background-color: #ddd;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    .new_message{
      display: flex;
      .input-box{
        width: 100%;
        position: relative;
        &__text{
          height: 50px;
          width: 100%;
          color: #434a54;
          padding: 0 40px 0 10px;
          border-style: none;
          box-sizing: border-box;
        }
        &__image{
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 1.3rem;
          .fa{

          }
          &__file{
            display: none;
          }
        }
      }
      .submit-btn{
        height: 50px;
        width: 100px;
        background-color: #38AEF0;
        color: white;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}